# Node modules
node_modules/

# Environment files
.env
.env.*
backend/.env
frontend/.env
admin/.env
# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Uploads folder (if not needed in repo)
uploads/
